<!--
    This page will be used to search for and display Company names
-->
@{
    ViewBag.Title = "Index";
}

<h2>Search For Companies</h2>

@using (Html.BeginForm("Search", "CompanyListings"))
{
    <p>@ViewBag.Message</p>
    <br />

    @Html.TextBox("textCompanyName")
    <input type="submit" value="Search" class="btn btn-default" />
    <br /><br /><br />
}

@if (ViewBag.Companylist != null)
{
    if (ViewBag.Companylist.Length == 0)
    {
        <p>Your search did not return any results. Please try again.</p>
    }
    else
    {
        <h2>Results</h2> <br />
        foreach (string item in ViewBag.Companylist)
        {
            <div class="alert alert-success">

                @Html.ActionLink(item, "DisplayCompany/" + item, "CompanyListings")
            </div>
            <br />
        }
    }
}
