
@{
    ViewBag.Title = "PostCompanyReview";
}
<h2>GetCompanyReview</h2>
<!--HARJEE WRITE HERE-->
<h1>@ViewBag.DM2</h1>
@if (ViewBag.Companyreviewpost != null)
{

    if (ViewBag.Companyreviewpost.Length == 0)
    {
        <p>Your request did not return any results. Please try again.</p>
    }
    else
    {
        <p style="font-size:larger">Results:</p> <br />
        <p>@ViewBag.Companyreviewpost</p>
    }
}